* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(185, 41%, 84%);
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", sans-serif;
}

.logo {
  margin-top: 5rem;
  margin-left: 40%;
}
.whole {
  background: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;

  margin-top: 4rem;
  padding: 3.2rem 3.318rem 3.2rem 3.2rem;
}

.bill {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #5e7a7d;
}

.dollar-icon--bill {
  background: #f3f9fa;
  /* background-color: #26c2ae; */
  border-radius: 5px;
  margin-top: 0.6rem;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #5e7a7d;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8rem;
  padding: 1rem;
}

.pers-icon--number {
  background: #f3f9fa;
  /* background-color: #26c2ae; */
  border-radius: 5px;
  width: 100%;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.6rem;
}
.bill-number-input,
.pers-number {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: right;

  color: #00474b;
  border: none;
  background-color: hsl(189, 41%, 97%);
  /* background-color: #26c2ae; */
  width: 100%;
}

.select-tip {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #5e7a7d;
  margin-top: 3.2rem;
}

.tip-button {
  background: #00474b;
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  color: #ffffff;
  border: none;
}

.custom {
  background-color: #f3f9fa;

  line-height: 36px;
  font-size: 2rem;

  text-align: right;
  border: none;

  color: #547878;
  width: 100%;
}

.tip-container {
  display: grid;
  row-gap: 1.6rem;
  column-gap: 1.656rem;
  grid-template-columns: 1fr 1fr;

  margin-top: 1.6rem;
  /* padding: 0 3.2rem 0 3.2rem; */
}

.num-people {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #5e7a7d;
  margin-top: 3.2rem;
}

.pers-icon {
  width: 2rem;
  height: 2rem;
}

.total-amount {
  background: #00474b;
  border-radius: 15px;
}

.tip-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.person {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;

  color: #7f9d9f;
}

.tip-amount--number {
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;

  color: #26c2ae;
}

.first-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.person2 {
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;

  color: #7f9d9f;
}

.total--person2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 47px;
  text-align: right;
  letter-spacing: -0.666667px;

  color: #26c2ae;
}

.second-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}

.reset-btn {
  background: #26c2ae;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  text-align: center;

  text-transform: uppercase;
  padding: 0.9rem 3.2rem 0.9rem 3.3rem;
  color: #00474b;
  border: none;
  margin-top: 3.5rem;
  width: 100%;
}

.total-amount {
  padding: 3.9rem 2.2rem 2.4rem 2.4rem;
  margin-top: 3.2rem;
}

.reset-btn:hover {
  background-color: hsl(185, 41%, 84%);
  cursor: pointer;
}
.tip-button {
  cursor: pointer;
}

.active-btn {
  background-color: #26c2ae;
}
.num-error {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-msg {
  font-size: 1.4rem;
  color: #e17457;
  margin-top: 3rem;
}
@media (min-width: 59em) {
  .whole {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 7rem 15rem;
    border-radius: 2rem;
  }

  .flex {
    width: 80%;
  }

  .total-amount {
    width: 100%;
    height: 43rem;
    padding: 5.6rem 4rem 4rem 4rem;
    /* display: flex;
    flex-direction: column; */
  }

  .reset-btn {
    margin-top: 16rem;
  }

  .logo {
    margin-left: 45%;
  }
}
